{% extends 'base.html' %}
{% block content %}
<div></br></br>
    <center><h2 class="alert alert-info"><u>NEW PASSWORD</u></h2></center>    <br></br>
    <form action="/usermakepassword/{{data.id}}" method="post" >  
        {% csrf_token %}
        <div class="mb-3">
            <label for="password" class="form-label">Email:</label>
            <input type="email" class="form-control" id="oldpassword" name="email" value="{{data.email}}" disabled>   
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">   
        </div>
        <div class="mb-3">
            <label for="confirmpassword" class="form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Enter Confirm Password">
        </div>
    </br></br>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>  
    </form>
</div>

{%endblock%}