{% extends 'base.html' %}
{% block content %}
<div class="cpassword">
    <center><h2 class="alert alert-info"><u>CHANGE PASSWORD</u></h2></center>    <br></br>
    <form action="/usernewpassword/" method="post" >  
        {% csrf_token %}
        <div class="container col-5" >
            <div  class="row">
        <div class="mb-3">
          <b><label for="password" class="form-label" style="color: aliceblue;">Old Password:</label></b>
            <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Enter Old Password">   
        </div>
        <div class="mb-3">
        <b>   <label for="password" class="form-label" style="color: aliceblue;">Password:</label></b>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">   
        </div>
        <div class="mb-3">
        <b>  <label for="confirmpassword" class="form-label" style="color: aliceblue;">Confirm Password:</label></b>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Enter Confirm Password">
        </div>
    
    </div>
    </br></br>  
    <center><button type="submit" class="btn btn-primary">Submit</button></center>
 
    </form>
</div>
</br></br></br></br></br></br></br></br>


{%endblock%}